body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
}
#total-votes-count {
  text-align: center;
  font-weight: bold;
}

.add-vote, .vote-list {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-vote {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.vote-list h2 {
  margin-top: 0;
}

.vote-list p {
  margin-bottom: 0;
}


